<div class="row marketing">
  <div id='new-task' class="task new-task">
  </div>
  <ul>
    <li>
      <form ng-submit='createTask()'>
        <input type='text' class='form-control task-title' placeholder='What needs to be done?' autofocus ng-model='newTask.title'/>
        <span class='glyphicon glyphicon-plus' ng-click='createTask()'></span>
      </form>
    </li>
    <li ng-repeat='task in tasks'>
      <span>{{task.title}}</span>
      <span class='glyphicon glyphicon-ok' ng-click='completeTask(task)' ng-if='!task.completed'></span>
      <span class='glyphicon glyphicon-remove' ng-click='deleteTask(task)' ng-if='task.completed'></span>
    </li>
  </ul>
</div>
