.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header h3 {
  /* Make the masthead heading the same height as the navigation */
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.header .alert {
  margin-bottom: 0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

div.notification-bar {
  min-height: 72px;
}

ul.task-list {
  list-style-type: none;
  position: relative;
  padding: 0;
  margin: 0;
}

ul.task-list li {
  position: relative;
  padding: 10px 5px;
  margin: 0;
  font-size: 125%;
  border-bottom: solid 1px #DDD;
}

ul.task-list li input {
  font-size: 100%;
  border: none;
  box-shadow: none;
}

ul.task-list li span.glyphicon-ok {
  color: #BBB;
  margin-right: 10px;
}

ul.task-list li span.glyphicon-plus, ul.task-list li span.glyphicon-remove {
  color: #BBB;
  position: absolute;
  top: 14px;
  right: 10px;
}

ul.task-list li span.glyphicon-plus {
  top: 17px;
}

ul.task-list li.completed {
  text-decoration: line-through;
}

ul.task-list span.glyphicon-ok {
  color: #2A2;
}
